{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
ReleCloud - Request information
{% endblock title %}

{% block content %}
<h1>Request information</h1>
<h2>Fill out the form below to request information about our cruises</h2>

<form method="post">
    {% csrf_token %}
    
    <!-- Campo "name" -->
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
    </div>

    <!-- Campo "email" -->
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </div>

    <!-- Campo "cruise" -->
    <div class="form-group">
        <label for="{{ form.cruise.id_for_label }}">Cruise:</label>
        {{ form.cruise }}
    </div>

    <!-- Campo "notes" -->
    <div class="form-group">
        <label for="{{ form.notes.id_for_label }}">Notes:</label>
        {{ form.notes }}
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock content %}
